/* Header */

.header {
  background-color: #3d67b0;
  color: #ffffff;
}

.contacts-item {
  text-align: left;
}

.contacts-item img {
  max-width: 20px;
}

.callback-button {
  font-size: 11pt;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  background-color: #3d67b0;
  color: #ffffff;
  max-width: 200px;
  text-transform: uppercase;
}

/* Gyro Info */

.segway {
  width: 33%;
}

.giro-info-text {
  z-index: 1;
}

.gyro-info {
  background-color: #3d67b0;
  color: #ffffff;
}

.gyro-info-plus {
  margin-top: 50px;
}

.wave-delimiter {
  min-height: 170px;
  background-image: url(/img/first-page-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Consults */

.consult-wave {
  min-height: 330px;
  background-image: url(/img/section-delimiter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  font-size: 24pt;
  font-weight: 800;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Brands */

.brands-title {
  color: #3d67b0;
  font-weight: 700;
}

/* Useful Content */

.useful-content {
  background: #3d67b0;
}

.useful-content-text {
  color: #ffffff;
}

/* News Form */

.news-form {
  background-image: url(/img/about-us-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
}

/* Footer */

footer {
  background-color: #3d67b0;
  color: #ffffff;
}

.social {
  width: 27%;
}
